# --- Python Junk ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# --- Environment Junk ---
.venv/
env/
venv/

# --- IDE & OS Junk ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Large ML Artifacts & Weights ---
*.pkl
*.npy
*.csv
# Keep the script files, but ignore the output deliverables
!src/*.py

# --- Dataset Safety ---
# Prevents proprietary university data from being uploaded
MLPC2026_dataset_development/
MLPC2026_challenge/
audio_features/
audio/
