# --- Python Junk ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# --- Environment Junk ---
.venv/
env/
venv/

# --- IDE & OS Junk ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Project Specific Safety ---
# Even though I won't upload them, these rules prevent accidents:
*.npz
*.wav
*.csv
MLPC2026_dataset_development/
